/* ----------------- Start ----------------- */

/* ----------------- Universals ----------------- */

* {
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  font-family: "poppins";
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#home {
  background: url(Images/band.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.parent-container {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  height: 100%;
  width: 100%;
  background-color: rgb(32, 32, 32);
  align-items: center;
  position: relative;
}

section.footer {
  height: 25%;
  position: absolute;
}

section h1 {
  color: white;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
  margin-top: 0.8em;
  margin-bottom: 0.75em;
}

/* ----------------- End Universals ----------------- */

/* ----------------- Navigation ----------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-menu {
  position: fixed;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2em;
}

.nav-item {
  margin-left: 2.7em;
}

.nav-item.active {
  background-color: rgba(220, 20, 60, 0.315);
  padding: 1em;
  transition: 1s ease background-color;
}

.nav-item.home.active {
  border: solid 2px white;
  background-color: rgba(128, 128, 128, 0.308);
  padding: 0.3em;
  transition: 1s ease background-color;
}

.nav-item.bio.active {
  background-color: rgba(220, 20, 60, 0.253);
  padding: 1em 2em;
  transition: 1s ease background-color;
}

.nav-link {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  text-shadow: black 1px 1px;
  letter-spacing: 1px;
  transition: 1s ease;
}

.nav-link:hover {
  color: #c1e2eb;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  margin-top: 1em;
  left: 0;
  bottom: -5px;
  background-color: white;
}

.nav-link::after {
  transform: scale(0, 1);
  transition: 0.5s ease;
}

.nav-link:hover::after {
  transform: scale(1, 1);
}

.scrolling-active {
  background-color: rgba(0, 0, 0, 0.61);
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  transition: 0.4s ease;
  position: fixed;
  border-bottom: solid 2px rgba(220, 20, 60, 0.438);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-logo h1 {
  font-size: 1.35rem;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 2.5px;
  text-shadow: black 1px 1px;
}

/* ----------------- End Navigation ----------------- */

/* ----------------- Main Section ----------------- */

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 8rem;
  color: white;
  font-weight: 500;
  margin: 1.5em auto 0.75em;
  text-shadow: black 2px 2px;
}

p {
  color: white;
  font-size: 2rem;
  margin-bottom: 1.5em;
  letter-spacing: 2px;
  text-shadow: black 2px 2px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16em;
}

.tickets {
  margin-right: 1em;
  padding: 0.5em 2.5em;
  border-radius: 5%;
  color: rgb(0, 0, 0);
  font-weight: 500;
  background-color: white;
  transition: 1s ease;
}

.tickets:hover {
  background-color: rgba(54, 54, 54, 0.726);
  color: white;
  border: solid 1.5px white;
}

.listen {
  margin-left: 1em;
  padding: 0.5em 2.5em;
  border-radius: 5%;
  color: rgb(255, 255, 255);
  font-weight: 500;
  border: solid 1.5px white;
  transition: 0.5s ease;
}

.listen:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: solid 2.5px black;
}

/* Arrow Indicator */

.scrolldown {
  position: relative;
  bottom: 185px;
  left: 50.5%;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}

.scrolldown span:nth-child(1) {
  transform: translate(-12px, -12px);
  animation-delay: -0.4s;
}
.scrolldown span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}
.scrolldown span:nth-child(3) {
  transform: translate(12px, 12px);
  animation-delay: 0s;
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}
/* ----------------- End Main Section ----------------- */

/* ----------------- Tour Dates ----------------- */

.tour-container /* Parent div inside section */ {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.tour-title-container /* 1st Sub-div inside Parent div */ {
  flex-basis: 100%;
}

.tour-container h3 {
  color: white;
  letter-spacing: 3.5px;
  font-size: 2.25rem;
  padding: 0;
  margin-bottom: 0.5em;
  text-align: center;
}

.tour-container .col1 /* 2nd Sub-div inside Parent div */ {
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432);
  border: solid 1px rgba(220, 20, 60, 0.226);
  width: 300px;
  padding: 0.5em;
  min-height: 50%;
  margin-bottom: 5em;
  display: grid;
  grid-template-columns: 200px;
  justify-content: center;
}

.tour-container .col2 /* 3rd Sub-div inside Parent div */ {
  background: #c31432;
  background: -webkit-linear-gradient(to right, #9e1130, #c31432);
  background: linear-gradient(to right, #7a1c31, #c31432);
  width: 300px;
  padding: 0.5em;
  min-height: 50%;
  margin-bottom: 5em;
  display: grid;
  grid-template-columns: 250px;
  justify-content: center;
}
.tour-container .col3 /* 4th Sub-div inside Parent div */ {
  background: #c31432;
  background: -webkit-linear-gradient(to left, #240b36, #c31432);
  background: linear-gradient(to left, #240b36, #c31432);
  border: solid 1px rgba(220, 20, 60, 0.226);
  width: 300px;
  padding: 0.5em;
  min-height: 50%;
  margin-bottom: 5em;
  display: grid;
  grid-template-columns: 250px;
  justify-content: center;
}

.tourdesc {
  font-size: 1rem;
  text-align: center;
}

.tourdate {
  font-size: 2rem;
  text-align: center;
}

.venuelink {
  color: white;
  text-align: center;
  border: solid 1px white;
  transition: 0.5s ease;
}

.venuelink:hover {
  background-color: rgba(202, 202, 202, 0.205);
}

.more-btn {
  color: rgb(196, 196, 196);
  align-self: center;
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
}

.more-btn:hover {
  color: #c31432;
  color: -webkit-linear-gradient(to top, #240b36, #c31432);
  color: linear-gradient(to top, #240b36, #c31432);
}

/* ----------------- End Tour Dates ----------------- */

/* ----------------- Media Queries ----------------- */

@media only screen and (max-width: 960px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 1;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1em 0;
  }

  .nav-item.active {
    background-color: rgba(220, 20, 60, 0.315);
    padding: 0.5em;
    transition: 1s ease background-color;
    border-radius: 15%;
  }

  .nav-item.bio.active {
    background-color: rgba(220, 20, 60, 0.315);
    padding: 0.5em;
    transition: 1s ease background-color;
    border-radius: 15%;
  }

  .nav-link {
    color: rgb(255, 255, 255);
  }

  .hamburger {
    position: fixed;
    right: 1.5em;
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .btn-container {
    flex-direction: column;
  }

  .tickets {
    margin-top: 3em;
    margin-bottom: 1em;
    margin-right: 0;
  }

  .listen {
    margin-left: 0;
  }
}

@media only screen and (max-width: 999px) and (min-width: 582px) {
  .title {
    font-size: 6rem;
  }

  p {
    font-size: 1.5rem;
  }
  #tourdates {
    height: 1400px;
  }
}

@media only screen and (max-width: 666px) and (min-width: 582px) {
  #tourdates {
    height: 2000px;
  }
}

@media only screen and (max-width: 581px) {
  .title {
    font-size: 4rem;
  }

  p {
    font-size: 1.25rem;
  }

  .btn-container {
    margin-bottom: 17.5em;
  }

  #tourdates {
    height: 2000px;
  }
}

@media only screen and (max-width: 450px) {
  #tourdates {
    height: 2100px;
  }
}

@media only screen and (max-width: 387px) {
  .title {
    font-size: 3rem;
  }

  p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 374px) {
  #tourdates {
    height: 2200px;
  }
}
/* ----------------- End ----------------- */
